* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}
.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}
body {
  background-color: #eee;
}
.head {
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 30px 30px 0px;
  background-repeat: no-repeat;
  background-position: right;
}
.barr i{
  color: white;
  font-size: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url(images/logo.svg);
  background-size: contain;
  width: 150px;
  height: 25px;
  background-repeat: no-repeat;
}

.links ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.links ul li {
  margin: 0px 15px;
  color: white;
  text-transform: capitalize;
}
.links ul li:last-of-type {
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 25px;
  font-weight: bold;
}

.title {
  margin: 100px auto;
  width: fit-content;
  color: white;
  text-align: center;
}
.title h1 {
  font-size: 50px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  word-spacing: 10px;
  letter-spacing: 10px;
}

.title i {
  margin: 70px auto;
  font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.image {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#img_1 {
  background-image: url(images/desktop/image-transform.jpg);
}
#img_2 {
  background-image: url(images/desktop/image-stand-out.jpg);
}
#skill_1 {
  background-image: url(images/desktop/image-graphic-design.jpg);
}
#skill_2 {
  background-image: url(images/desktop/image-photography.jpg);
}

.description {
  padding: 125px;
}
.description h1 {
  font-family: "Barlow", sans-serif;
  margin-bottom: 35px;
  font-size: 40px;
}

.description p:first-of-type {
  line-height: 35px;
  margin-bottom: 35px;
}
.description p:last-of-type {
  font-weight: bold;
  position: relative;
  width: fit-content;
}
.description p:last-of-type::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: hsl(51, 100%, 49%);
  bottom: 0;
  border-radius: 20px;
}

.skills {
  padding: 350px 50px 20px;
  text-align: center;
  background-position: center;
}

.skills h1 {
  text-transform: capitalize;
  margin: 10px;
  color: hsl(167, 40%, 19%);
}
.skills p {
 padding: 10px;
  color: hsl(167, 40%, 24%);
  font-weight: bold;
}

.barr {
  display: none;
}

.hidden{
  display: none;
}
@media (max-width: 768px) {
  .barr {
    display: block;
  }
  .links ul li {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
  }
  .description {
    padding: 100px 20px;
    text-align: center;
  }

   .hidden{
    display: block;
   }
  .image#img_1{
    display: none;
  }
  .image ,
  .hidden {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .head {
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
  }
  .title h1 {
    font-size: 40px;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 00px;
  }
  .description p:last-of-type {
    font-weight: bold;
    position: relative;
    width: fit-content;
    margin: auto;
  }
}

@media (max-width: 325px) {
}
